<layout name="layout"/>
<div class="list-div" id="listDiv">
    <table cellpadding="3" cellspacing="1">
        <tr>
            <th width="80">角色名称
            </th>
            <th
            >权限列表
            </th>
            <th width="60">操作</th>
        </tr>
        <?php foreach ($data as $k => $v): ?>
        <tr class="tron">
            <td align="center">
                <span><?php echo $v['role_name']; ?></span>
            </td>
            <td align="center">
                <span><?php echo $v['pri_name']; ?></span>
            </td>
            <td align="center">
                <a href="<?php echo U('info?id='.$v['id'].'&p='.I('get.p')); ?>"
                   target="_blank" title="查看">
                    <img src="__PUBLIC__/Admin/Images/icon_view.gif" width="16" height="16" border="0" alt=""/>
                </a>
                <a href="<?php echo U('edit?id='.$v['id'].'&p='.I('get.p')); ?>"
                   title="编辑">
                    <img src="__PUBLIC__/Admin/Images/icon_edit.gif" width="16" height="16" border="0" alt=""/>
                </a>
                <a href="<?php echo U('del?id='.$v['id'].'&p='.I('get.p')); ?>"
                   onclick="return confirm('确定要删除吗')" title="删除">
                    <img src="__PUBLIC__/Admin/Images/icon_trash.gif" width="16" height="16" border="0" alt=""/>
                </a>
            </td>
        </tr>
        <?php endforeach; ?>        <?php if(preg_match('/\d/', $page)): ?>
        <tr>
            <td align="right" nowrap="true" colspan="99" height="30"><?php echo $page; ?></td>
        </tr>
        <?php endif; ?>            </table>
</div>
<script>
</script>
<script type="text/javascript" src="__PUBLIC__/Admin/Js/tron.js"></script>