<!--suppress JSJQueryEfficiency -->
<layout name="layout"/>
<style>
    #goods_cat_lst li {
        margin: 5px;
    }
</style>
<div class="main-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front">通用信息</span>
            <span class="tab-back">商品描述</span>
            <span class="tab-back">会员价格</span>
            <span class="tab-back">商品属性</span>
            <span class="tab-back">商品相册</span>
        </p>
    </div>
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%" class="tab">
            <tr>
                <td class="label">所属品牌：</td>
                <td>
                    {:buildSelect('brands', 'brand_id', 'id', 'brand_name', '')}
                </td>
            </tr>
            <tr>
                <td class="label">主分类：</td>
                <td>
                    <select name="cat_id">
                        <option value="">选择分类</option>
                        <foreach name="catData" item="co">
                            <option value="{$co.id}">{$co.name}</option>
                        </foreach>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">扩展分类</td>
                <td>
                    <ul id="goods_cat_lst">
                        <li>
                            <select name="goods_cat[]">
                                <option value="">选择分类</option>
                                <foreach name="catData" item="co">
                                    <option value="{$co.id}">{$co.name}</option>
                                </foreach>
                            </select>
                        </li>
                    </ul>
                    <button onclick="$('#goods_cat_lst').append($('#goods_cat_lst').find('li').eq(0).clone());" type="button" id="btn_add_cat">添加</button>
                </td>
            </tr>
            <tr>
                <td class="label">商品名称：</td>
                <td>
                    <input type="text" name="goods_name" value=""/>
                </td>
            </tr>
            <tr>
                <td class="label">市场价格：</td>
                <td>
                    <input type="number" name="market_price" value=""/>
                </td>
            </tr>
            <tr>
                <td class="label">本店价格：</td>
                <td>
                    <input type="number" name="shop_price" value=""/>
                </td>
            <tr>
                <td class="label">是否上架：</td>
                <td>
                    <input type="radio" name="is_on_sale" value="是" checked="checked"/>
                    是 <input type="radio" name="is_on_sale" value="否"/>
                    否
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
            </tr>
        </table>
        <table cellspacing="1" cellpadding="3" width="100%" class="tab" style="display: none">
            <tr>
                <td class='label'>商品描述</td>
                <td>
                    <textarea id='goods_desc' name='goods_desc'></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
            </tr>
        </table>
        <table cellspacing="1" cellpadding="3" width="100%" class="tab" style="display: none">
            <foreach name="level" item="lo">
                <tr>
                    <td class="label">{$lo.level_name}价格：</td>
                    <td>
                        <input type="number" name="member_price[{$lo.id}]" value=""/>
                    </td>
                </tr>
            </foreach>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
            </tr>
        </table>
        <table cellspacing="1" cellpadding="3" width="100%" class="tab" style="display: none">
            <tr>
                <td class="label">是否放到回收站：</td>
                <td>
                    <input type="radio" name="is_delete" value="是"/>
                    是 <input type="radio" name="is_delete" value="否" checked="checked"/>
                    否
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
            </tr>
        </table>
        <table cellspacing="1" cellpadding="3" width="100%" class="tab" style="display: none">
            <tr>
                <td class="label">原图：</td>
                <td>
                    <input type="file" name="logo"/>
                </td>
            </tr>
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
            </tr>
        </table>
    </form>
</div>
<!--导入在线编辑器-->
<link href="__PUBLIC__/Umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Umeditor/lang/zh-cn/zh-cn.js"></script>
<script type="application/javascript">
    UM.getEditor('goods_desc', {
        initialFrameWidth: "100%",
        initialFrameHeight: 350
    });

    $('#tabbar-div p span').click(function () {
        let i = $(this).index();
        $(this).removeClass('tab-back').addClass('tab-front').siblings().removeClass('tab-front').addClass('tab-back');
        $('.tab').eq(i).show().siblings().hide();
    })
</script>