<layout name="layout"/>
<div class="form-div">
    <form action="__ACTION__" method="get" name="searchForm">
        <img src="__PUBLIC__/Admin/Images/icon_search.gif" width="26" height="22" border="0" alt="search"/>
        <p>
            商品名称：
            <input type="text" name="goods_name" size="60" value="{:I('get.goods_name')}"/>
        </p>
        <p>
            价格：
            从
            <input type="text" name="fp" size="8" value="{:I('get.fp')}"/>
            到
            <input type="text" name="tp" size="8" value="{:I('get.tp')}"/>
        </p>
        <p>
            是否上架：
            <input type="radio" name="ios" size="8" value=""
            <if condition="I('get.ios') eq ''">checked="checked"</if>
            />
            全部
            <input type="radio" name="ios" size="8" value="是"
            <if condition="I('get.ios') eq '是'">checked="checked"</if>
            />
            上架
            <input type="radio" name="ios" size="8" value="否"
            <if condition="I('get.ios') eq '否'">checked="checked"</if>
            />
            下架
        </p>
        <p>
            添加时间：
            从
            <input type="text" id="fa" name="fa" size="20" value="{:I('get.fa')}"/>
            到
            <input type="text" id="ta" name="ta" size="20" value="{:I('get.ta')}"/>
        </p>
        <p>
            {:$order=I('get.order', 'id desc')}
            排序方式：
            <input type="radio" name="order" value="id desc" onclick="this.parentNode.parentNode.submit()"
            <if condition="$order eq 'id desc'">checked="checked"</if>
            />
            以id降序
            <input type="radio" name="order" value="id asc" onclick="this.parentNode.parentNode.submit()"
            <if condition="$order eq 'id asc'">checked="checked"</if>
            />
            以id升序
            <input type="radio" name="order" value="shop_price desc" onclick="this.parentNode.parentNode.submit()"
            <if condition="$order eq 'shop_price desc'">checked="checked"</if>
            />
            以店内价格降序
            <input type="radio" name="order" value="shop_price asc" onclick="this.parentNode.parentNode.submit()"
            <if condition="$order eq 'shop_price asc'">checked="checked"</if>
            />
            以店内价格升序
            <input type="radio" name="order" value="addtime desc" onclick="this.parentNode.parentNode.submit()"
            <if condition="$order eq 'addtime desc'">checked="checked"</if>
            />
            以添加时间降序
            <input type="radio" name="order" value="addtime asc" onclick="this.parentNode.parentNode.submit()"
            <if condition="$order eq 'addtime asc'">checked="checked"</if>
            />
            以添加时间升序
        </p>
        <input type="submit" value=" 搜索 " class="button"/>
    </form>
</div>

<!-- 商品列表 -->
<form method="post" action="" name="listForm" onsubmit="">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>编号</th>
                <th>商品名称</th>
                <th>缩略图</th>
                <th>市场价格</th>
                <th>店内价格</th>
                <th>是否上架</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            <foreach name="data" item="val">
                <tr class="tron">
                    <td align="center">{$val.id}</td>
                    <td align="center" class="first-cell">
                        <span>{$val.goods_name}</span>
                    </td>
                    <td align="center">
                        {:showImage($val['sm_logo'])}
                    </td>
                    <td align="center">
                        <span onclick="">{$val.market_price}</span>
                    </td>
                    <td align="center">
                        <span>{$val.shop_price}</span>
                    </td>
                    <td align="center">
                        <img src="<if condition='$val.is_on_sale eq 是'> __PUBLIC__/Admin/Images/yes.gif <else/> __PUBLIC__/Admin/Images/no.gif </if>"
                             alt=""/>
                    </td>
                    <td align="center">
                        <span>{$val.addtime}</span>
                    </td>
                    <td align="center">
                        <a href="__MODULE__/Goods/info?id={$val.id}" target="_blank" title="查看">
                            <img src="__PUBLIC__/Admin/Images/icon_view.gif" width="16" height="16" border="0" alt=""/>
                        </a>
                        <a href="__MODULE__/Goods/edit?id={$val.id}" title="编辑">
                            <img src="__PUBLIC__/Admin/Images/icon_edit.gif" width="16" height="16" border="0" alt=""/>
                        </a>
                        <a href="__MODULE__/Goods/del?id={$val.id}" onclick="return confirm('确定要删除吗')" title="删除">
                            <img src="__PUBLIC__/Admin/Images/icon_trash.gif" width="16" height="16" border="0" alt=""/>
                        </a>
                    </td>
                </tr>
            </foreach>
        </table>

        <!-- 分页开始 -->
        <table id="page-table" cellspacing="0">
            <tr>
                <td width="80%">&nbsp;</td>
                <td align="center" nowrap="nowrap">
                    {$page}
                </td>
            </tr>
        </table>
        <!-- 分页结束 -->
    </div>
</form>
<link href="__PUBLIC__/datetimepicker/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/datetimepicker/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/datetimepicker/datepicker-zh_cn.js"></script>
<link rel="stylesheet" media="all" type="text/css"
      href="__PUBLIC__/datetimepicker/time/jquery-ui-timepicker-addon.min.css"/>
<script type="text/javascript" src="__PUBLIC__/datetimepicker/time/jquery-ui-timepicker-addon.min.js"></script>
<script type="text/javascript"
        src="__PUBLIC__/datetimepicker/time/i18n/jquery-ui-timepicker-addon-i18n.min.js"></script>
<script type="application/javascript">
    $.timepicker.setDefaults($.timepicker.regional['zh-CN']);
    $('#fa').datetimepicker();
    $('#ta').datetimepicker();
</script>
<script type="text/javascript" src="__PUBLIC__/Admin/Js/tron.js"></script>